openapi: 3.1.0
info:
  title: Proton API
  version: "1.0"
  description: |
    Auto-generated from ProtonMail/WebClients TypeScript source files.
    Source: https://github.com/ProtonMail/WebClients/tree/main/packages/shared/lib/api

servers:
  - url: https://mail.proton.me/api
    description: Proton production API

security:
  - protonAuth: []

components:
  securitySchemes:
    protonAuth:
      type: http
      scheme: bearer
      description: |
        Requires headers: Authorization (Bearer token), x-pm-uid (session UID), x-pm-appversion.

  # Enum reference:
  # ACCESS_LEVEL: 0=LIMITED, 1=FULL
  # AccessType: 0=Self, 1=AdminAccess, 2=EmergencyAccess
  # ACCOUNT_DELETION_REASONS: DIFFERENT_ACCOUNT=DIFFERENT_ACCOUNT, TOO_EXPENSIVE=TOO_EXPENSIVE, MISSING_FEATURE=MISSING_FEATURE, USE_OTHER_SERVICE=USE_OTHER_SERVICE, MERGE_ACCOUNT=MERGE_ACCOUNT, OTHER=OTHER
  # ACTION_VIEWS: VIEW=VIEW
  # ActionEventV6: 0=Delete, 1=Create, 2=Update
  # ADD_EVENT_ERROR_TYPE: 0=TOO_MANY_PARTICIPANTS
  # ADDRESS_COMPONENTS: 0=POST_BOX, 1=EXTENDED, 2=STREET, 3=LOCALITY, 4=REGION, 5=POSTAL_CODE, 6=COUNTRY
  # ADDRESS_FLAGS: 16=FLAG_DISABLE_E2EE, 32=FLAG_DISABLE_EXPECTED_SIGNED, 64=BYOE
  # ADDRESS_PERMISSION_TYPE: receive=RECEIVE, send=SEND
  # ADDRESS_PERMISSIONS: 0=NO_PERMISSION, 1=PERMISSIONS_RECEIVE_ALL, 2=PERMISSIONS_SEND_ALL, 4=PERMISSIONS_AUTORESPONDER, 8=PERMISSIONS_RECEIVE_ORG, 16=PERMISSIONS_SEND_ORG
  # ADDRESS_RECEIVE: 1=RECEIVE_YES, 0=RECEIVE_NO
  # ADDRESS_SEND: 1=SEND_YES, 0=SEND_NO
  # ADDRESS_STATUS: 0=STATUS_DISABLED, 1=STATUS_ENABLED, 2=STATUS_DELETING
  # ADDRESS_TYPE: 1=TYPE_ORIGINAL, 2=TYPE_ALIAS, 3=TYPE_CUSTOM_DOMAIN, 4=TYPE_PREMIUM, 5=TYPE_EXTERNAL, 6=TYPE_GROUP
  # AddressActiveStatus: 0=INACTIVE, 1=ACTIVE
  # AddressConfirmationState: 0=CONFIRMATION_NOT_CONFIRMED, 1=CONFIRMATION_CONFIRMED, 2=CONFIRMATION_INVALID
  # AI_ASSISTANT_ACCESS: 0=UNSET, 1=OFF, 2=SERVER_ONLY, 3=CLIENT_ONLY
  # ALMOST_ALL_MAIL: 0=DISABLED, 1=ENABLED
  # API_CODES: 1001=GLOBAL_SUCCESS, 1000=SINGLE_SUCCESS, 2011=NOT_ALLOWED_ERROR, 2000=INVALID_REQUIREMENT_ERROR, 2001=INVALID_LINK_TYPE_ERROR, 2500=ALREADY_EXISTS_ERROR, 2501=NOT_FOUND_ERROR, 2061=INVALID_ID_ERROR
  # API_KEY_SOURCE: 0=PROTON, 1=WKD, 2=KOO
  # APP_UPSELL_REF_PATH: upsell_mail-=MAIL_UPSELL_REF_PATH, upsell_calendar-=CALENDAR_UPSELL_REF_PATH, upsell_drive-=DRIVE_UPSELL_REF_PATH, upsell_pass-=PASS_UPSELL_REF_PATH, upsell_vpn-=VPN_UPSELL_REF_PATH, upsell_inbox_desktop-=INBOX_DESKTOP_REF_PATH, upsell_docs-=DOCS_UPSELL_REF_PATH, upsell_account-=ACCOUNT_UPSELL_REF_PATH, upsell_wallet-=WALLET_UPSELL_REF_PATH, upsell_lumo-=LUMO_UPSELL_REF_PATH
  # ASSISTANT_TYPE: SERVER=SERVER, LOCAL=LOCAL
  # ATTACH_PUBLIC_KEY: 0=DISABLED, 1=ENABLED
  # ATTACHMENT_DISPOSITION: attachment=ATTACHMENT, inline=INLINE
  # ATTENDEE_COMMENT_ENCRYPTION_TYPE: 0=CLEARTEXT, 1=ENCRYPTED_AND_SIGNED
  # ATTENDEE_MORE_ATTENDEES: 0=NO, 1=YES
  # ATTENDEE_PERMISSIONS: 1=SEE, 2=INVITE, 3=SEE_AND_INVITE, 4=EDIT, 8=DELETE
  # ATTENDEE_STATUS_API: 0=NEEDS_ACTION, 1=TENTATIVE, 2=DECLINED, 3=ACCEPTED
  # AttestationFormat: none=None, android-key=AndroidKey, android-safetynet=AndroidSafetyNet, apple=Apple, fido-u2f=FidoU2F, packed=Packed, tpm=TPM
  # Audience: b2c=B2C, b2b=B2B, family=FAMILY
  # AUTH_LOG_EVENTS: 0=LOGIN_FAILURE_PASSWORD, 1=LOGIN_SUCCESS, 2=LOGOUT, 3=LOGIN_FAILURE_2FA, 4=LOGIN_SUCCESS_AWAIT_2FA, 5=LOGIN_SUCCESS_FORBIDDEN, 6=LOGIN_SUCCESS_MNEMONIC, 7=LOGIN_FAILURE_MNEMONIC, 8=LOGIN_SUCCESS_ADMIN, 9=LOGIN_BLOCKED, 80=LOGIN_SUCCESS_AWAIT_VERIFY, 81=LOGIN_ATTEMPT, 10=REAUTH_FAILURE_PASSWORD, 11=REAUTH_FAILURE_2FA, 12=REAUTH_SUCCESS, 20=CHANGE_ACCOUNT_PASSWORD, 21=CHANGE_MAILBOX_PASSWORD, 22=RESET_ACCOUNT, 23=CHANGE_MNEMONIC, 24=RESET_ACCOUNT_MNEMONIC, 25=CHANGE_EMAIL, 26=CHANGE_PHONE, 27=ENABLE_HIGH_SECURITY, 28=DISABLE_HIGH_SECURITY, 30=ENABLE_MAILBOX_PASSWORD, 31=DISABLE_MAILBOX_PASSWORD, 32=ENABLE_TOTP, 33=DISABLE_TOTP, 34=ADD_U2F, 35=REMOVE_U2F, 36=DISABLE_MNEMONIC, 37=RESET_BACKUP_SECRET, 40=USER_KEY_CREATION, 41=USER_KEY_DELETION, 42=USER_KEY_REACTIVATION, 50=ADDRESS_KEY_CREATION, 51=ADDRESS_KEY_DELETION, 52=ADDRESS_KEY_REACTIVATION, 60=ENABLE_EMAIL_RECOVERY, 61=ENABLE_PHONE_RECOVERY, 62=DISABLE_EMAIL_RECOVERY, 63=DISABLE_PHONE_RECOVERY, 70=REVOKE_ALL_SESSIONS, 71=REVOKE_SINGLE_SESSION
  # AuthDeviceErrorCodes: 10300=AUTH_DEVICE_NOT_FOUND, 10301=AUTH_DEVICE_NOT_ACTIVE, 10302=AUTH_DEVICE_TOKEN_INVALID, 10303=AUTH_DEVICE_REJECTED
  # AuthDeviceState: 0=Inactive, 1=Active, 2=PendingActivation, 3=PendingAdminActivation, 4=Rejected, 5=NoSession
  # AuthLogStatus: success=Success, attempt=Attempt, failure=Failure
  # AUTO_DELETE_SPAM_AND_TRASH_DAYS: 30=ACTIVE, 0=DISABLED
  # AUTO_SAVE_CONTACTS: 0=DISABLED, 1=ENABLED
  # AutoAddVideoConferenceLinkProvider: 0=None, 1=Zoom, 2=Meet
  # AutoReplyDuration: 0=FIXED, 1=DAILY, 2=WEEKLY, 3=MONTHLY, 4=PERMANENT
  # BLOCK_SENDER_CONFIRMATION: 1=DO_NOT_ASK
  # BUSY_TIME_SLOT_TYPE: 0=PARTIAL_DAY_IN, 1=PARTIAL_DAY_BEFORE, 2=FULL_DAY_IN, 3=FULL_DAY_BEFORE
  # CALENDAR_CARD_TYPE: 0=CLEAR_TEXT, 1=ENCRYPTED, 2=SIGNED, 3=ENCRYPTED_AND_SIGNED
  # CALENDAR_DISPLAY: 0=HIDDEN, 1=VISIBLE
  # CALENDAR_FLAGS: 0=INACTIVE, 1=ACTIVE, 2=UPDATE_PASSPHRASE, 4=RESET_NEEDED, 8=INCOMPLETE_SETUP, 16=LOST_ACCESS, 32=SELF_DISABLED, 64=SUPER_OWNER_DISABLED
  # CALENDAR_ORDER_BY: 0=ASCENDING, 1=DESCENDING
  # CALENDAR_PERMISSIONS: 1=SUPER_OWNER, 2=OWNER, 4=ADMIN, 8=READ_MEMBER_LIST, 16=WRITE, 32=READ, 64=AVAILABILITY
  # CALENDAR_RETURN_FLAGS: 0=NO, 1=YES
  # CALENDAR_SHARE_BUSY_TIME_SLOTS: 0=NO, 1=YES
  # CALENDAR_STATUS: 1=ACTIVE, 2=DELETED
  # CALENDAR_STATUS_TYPE: 0=DEFAULT, 1=ACTIVE, 2=DISABLED, 3=SYNCING, 4=NOT_SYNCED
  # CALENDAR_SUBSCRIPTION_STATUS: 0=OK, 1=ERROR, 2=INVALID_ICS, 3=CALENDAR_SOFT_DELETED, 4=CALENDAR_NOT_FOUND, 5=USER_NOT_EXIST, 6=ICS_SIZE_EXCEED_LIMIT, 7=SYNCHRONIZING, 8=CALENDAR_MISSING_PRIMARY_KEY, 20=HTTP_REQUEST_FAILED_GENERIC, 21=HTTP_REQUEST_FAILED_BAD_REQUEST, 22=HTTP_REQUEST_FAILED_UNAUTHORIZED, 23=HTTP_REQUEST_FAILED_FORBIDDEN, 24=HTTP_REQUEST_FAILED_NOT_FOUND, 25=HTTP_REQUEST_FAILED_INTERNAL_SERVER_ERROR, 26=HTTP_REQUEST_FAILED_TIMEOUT, 27=INTERNAL_CALENDAR_URL_NOT_FOUND, 28=INTERNAL_CALENDAR_UNDECRYPTABLE, 30=INVALID_URL
  # CALENDAR_TYPE: 0=PERSONAL, 1=SUBSCRIPTION, 2=HOLIDAYS
  # CALENDAR_UPSELL_PATHS: multi-cal=MULTI_CAL, share-cal=SHARE_CAL, max-cal=MAX_CAL, color-per-event=COLOR_PER_EVENT, booking-page=BOOKING_PAGE
  # CALENDAR_VALIDATION_MODE: 0=DOWNLOAD_ONLY, 1=DOWNLOAD_AND_PARSE
  # CalendarEventsQueryType: 0=PartDayInsideWindow, 1=PartDayBeforeWindow, 2=FullDayInsideWindow, 3=FullDayBeforeWindow
  # CalendarKeyFlags: 0=INACTIVE, 1=ACTIVE, 2=PRIMARY
  # CANONICALIZE_SCHEME: 0=DEFAULT, 1=PLUS, 2=GMAIL, 3=PROTON
  # CATEGORIES: 0=IGNORE, 1=INCLUDE
  # CHECKLIST_DISPLAY_TYPE: Full=FULL, Reduced=REDUCED, Hidden=HIDDEN
  # ChecklistKey: SendMessage=SendMessage, RecoveryMethod=RecoveryMethod, DriveUpload=DriveUpload, DriveShare=DriveShare, Import=Import, ProtectInbox=ProtectInbox, AccountLogin=AccountLogin, MobileApp=MobileApp, ClaimAddress=ClaimAddress
  # ChecklistType: 1=MailFreeUser, 2=MailPaidUser, 3=DriveUser, 4=MailBYOEUser
  # ClaimableAddressType: 0=Fixed, 1=Any
  # CLIENT_TYPES: 1=MAIL, 2=VPN, 4=DRIVE, 5=PASS, 6=WALLET, 9=LUMO, 10=AUTHENTICATOR, 11=MEET
  # Clients: 0=Windows, 1=macOS, 2=Linux, 3=Android, 4=iOS, 5=Chrome, 6=Brave, 7=Firefox, 8=Edge, 9=Safari, 10=CLI
  # COLLAPSE_EVENTS: COLLAPSE=COLLAPSE, EXPAND=EXPAND
  # ColorScheme: 0=Dark, 1=Light
  # COMPOSER_MODE: 0=POPUP, 1=MAXIMIZED
  # CONFIRM_LINK: 0=DISABLED, 1=CONFIRM
  # CONTACT_CARD_TYPE: 3=ENCRYPTED_AND_SIGNED, 2=SIGNED, 1=ENCRYPTED, 0=CLEAR_TEXT
  # CookieSameSiteAttribute: lax=Lax, strict=Strict, none=None
  # CREATE_DRAFT_MESSAGE_ACTION: 0=REPLY, 1=REPLY_ALL, 2=FORWARD
  # CreateMemberMode: 0=Password, 1=Invitation
  # CRYPTO_PROCESSING_TYPES: 0=SUCCESS, 1=SIGNATURE_NOT_VERIFIED, 2=FAIL_TO_READ, 3=FAIL_TO_LOAD, 4=FAIL_TO_DECRYPT
  # CUSTOM_FETCH_ERROR_STATUS_CODE: 0=NO_NETWORK_CONNECTION, -1=TIMEOUT
  # CUSTOM_VIEWS_LABELS: views/newsletters=NEWSLETTER_SUBSCRIPTIONS
  # CustomPasswordState: 0=NO_PASSWORD, 1=PASSWORD_SET
  # DAILY_TYPE: 0=ALL_DAYS
  # DARK_WEB_MONITORING_ELIGIBILITY_STATE: 0=NONPAID, 1=PAID
  # DARK_WEB_MONITORING_EMAILS_STATE: 0=DISABLED, 1=ENABLED
  # DARK_WEB_MONITORING_STATE: 0=DISABLED, 1=ENABLED
  # DASHBOARD_UPSELL_PATHS: mailplus-dashboard=MAILPLUS, mailpro-dashboard=MAILEPRO, unlimited-dashboard=UNLIMITED, drive-dashboard=DRIVE, pass-dashboard=PASS, vpn-dashboard=VPN, docs-dashboard=DOCS, wallet-dashboard=WALLET, family-dashboard=FAMILY, duo-dashboard=DUO, business-dashboard=BUSINESS, lumo-dashboard=LUMO, meet-dashboard=MEET
  # DELAY_IN_SECONDS: 0=NONE, 5=SMALL, 10=MEDIUM, 20=LARGE
  # DelegatedAccessStateEnum: 0=Disabled, 1=Enabled, 2=Accessible, 3=Recoverable
  # DelegatedAccessTypeEnum: 1=EmergencyAccess, 2=SocialRecovery
  # DELETE_CONFIRMATION_TYPES: 1=SINGLE, 2=RECURRING
  # DELETION_REASON: 0=NORMAL, 1=CHANGE_CALENDAR
  # DENSITY: 0=COMFORTABLE, 1=COMPACT
  # DESKTOP_APP_NAMES: drive=DRIVE
  # DESKTOP_PLATFORMS: linux=LINUX, macos=MACOS, windows=WINDOWS, windows/x64=WINDOWS_X64, windows/arm64=WINDOWS_ARM
  # DIRECTION: 0=LEFT_TO_RIGHT, 1=RIGHT_TO_LEFT
  # DKIM_KEY_DNS_STATUS: 0=NOT_SET, 1=GOOD, 2=INVALID
  # DKIM_KEY_STATUS: 0=ACTIVE, 1=PENDING, 2=RETIRED, 3=DECEASED
  # DKIM_STATE: 0=DKIM_STATE_DEFAULT, 3=DKIM_STATE_ERROR, 4=DKIM_STATE_GOOD, 5=DKIM_STATE_DELEGATED, 6=DKIM_STATE_WARNING
  # DMARC_STATE: 0=DMARC_STATE_DEFAULT, 1=DMARC_STATE_ONE, 2=DMARC_STATE_MULT, 3=DMARC_STATE_GOOD, 4=DMARC_STATE_RELAXED
  # DocsApiErrorCode: 250000=CommitIdOutOfSync, 250004=NeedsReadonlyMode, 2011=InsufficientPermissions, 2061=InvalidID, 0=Unknown
  # DOMAIN_STATE: 0=DOMAIN_STATE_DEFAULT, 1=DOMAIN_STATE_VERIFIED, 2=DOMAIN_STATE_WARN
  # DRAFT_TYPE: text/html=NORMAL, text/plain=PLAIN_TEXT
  # DRAWER_EVENTS: close=CLOSE, show=SHOW, switch=SWITCH, ready=READY, session=SESSION, api-request=API_REQUEST, api-response=API_RESPONSE, api-request-abort=ABORT_REQUEST, child-url-update=CHILD_URL_UPDATE, outside-call-event-manager=CALL_EVENT_MANAGER_FROM_OUTSIDE, outside-update-theme=UPDATE_THEME, outside-calendar-open-event=CALENDAR_OPEN_EVENT, outside-call-calendar-event-manager=CALL_CALENDAR_EVENT_MANAGER, outside-set-widget-event=SET_WIDGET_EVENT, outside-unset-widget-event=UNSET_WIDGET_EVENT, outside-request-open-events=REQUEST_OPEN_EVENTS, outside-refresh-widget=REFRESH_WIDGET, open-contact-modal=OPEN_CONTACT_MODAL
  # DRAWER_NATIVE_APPS: quick-settings=QUICK_SETTINGS, contacts=CONTACTS, security-center=SECURITY_CENTER, vpn=VPN, referral=REFERRAL
  # DRAWER_VISIBILITY: 0=SHOW, 1=HIDE
  # DRIVE_PERMISSIONS: 4=READ, 2=WRITE, 16=ADMIN
  # DRIVE_SIGNATURE_CONTEXT: drive.share-member.inviter=SHARE_MEMBER_INVITER, drive.share-member.member=SHARE_MEMBER_MEMBER, drive.share-member.external-invitation=SHARE_MEMBER_EXTERNAL_INVITATION
  # DRIVE_UPSELL_PATHS: sidebar=SIDEBAR, one-dollar-initial-reminder=ONE_DOLLAR_INITIAL_REMINDER, one-dollar-second-reminder=ONE_DOLLAR_SECOND_REMINDER, one-dollar-last-reminder=ONE_DOLLAR_LAST_REMINDER, plus_monthly-subscriber-nudge-variant-money=PLUS_MONTHLY_SUBSCRIBER_NUDGE_VARIANT_MONEY
  # DriveDocsPublicShareMessageType: CUSTOM_PASSWORD=CUSTOM_PASSWORD, READY_TO_RECEIVE_CUSTOM_PASSWORD=READY_TO_RECEIVE_CUSTOM_PASSWORD
  # EDM_VALUE: 0=ENABLED, 1=DISABLED
  # EdugainAffiliations: student=STUDENT, faculty=FACULTY, staff=STAFF, alum=ALUM, affiliate=AFFILIATE, employee=EMPLOYEE, library-walk-in=LIBRARY_WALK_IN
  # ENCRYPTION_PREFERENCES_ERROR_TYPES: 0=EMAIL_ADDRESS_ERROR, 1=INTERNAL_USER_DISABLED, 2=INTERNAL_USER_NO_API_KEY, 3=PRIMARY_CANNOT_SEND, 4=PRIMARY_NOT_PINNED, 5=EXTERNAL_USER_NO_VALID_EXTERNALLY_FETCHED_KEY, 6=EXTERNAL_USER_NO_VALID_PINNED_KEY, 7=CONTACT_SIGNATURE_NOT_VERIFIED
  # END_TYPE: NEVER=NEVER, COUNT=AFTER_N_TIMES, UNTIL=UNTIL
  # ERROR_TYPE: GENERATION_HARMFUL=GENERATION_HARMFUL, GENERATION_FAIL=GENERATION_FAIL, LOADGPU_FAIL=LOADGPU_FAIL, DOWNLOAD_FAIL=DOWNLOAD_FAIL, DOWNLOAD_REQUEST_FAIL=DOWNLOAD_REQUEST_FAIL, UNLOAD_FAIL=UNLOAD_FAIL, GENERATION_CANCEL_FAIL=GENERATION_CANCEL_FAIL, TOO_MANY_REQUESTS=TOO_MANY_REQUESTS, CACHING_FAILED=CACHING_FAILED, GENERATION_TOO_LONG=GENERATION_TOO_LONG
  # EVENT_ACTIONS: 0=DELETE, 1=CREATE, 2=UPDATE, 2=UPDATE_DRAFT, 3=UPDATE_FLAGS
  # EVENT_INVITATION_ERROR_TYPE: NON_GREGORIAN=NON_GREGORIAN, INVALID_METHOD=INVALID_METHOD, NO_VEVENT=NO_VEVENT, MISSING_ORIGINAL_UID=MISSING_ORIGINAL_UID, MISSING_ORGANIZER=MISSING_ORGANIZER, MISSING_ORIGINAL_ORGANIZER=MISSING_ORIGINAL_ORGANIZER, MISSING_ATTENDEE=MISSING_ATTENDEE, DUPLICATE_ATTENDEES=DUPLICATE_ATTENDEES, UNEXPECTED_FLOATING_TIME=UNEXPECTED_FLOATING_TIME, X_WR_TIMEZONE_UNSUPPORTED=X_WR_TIMEZONE_UNSUPPORTED, TZID_UNSUPPORTED=TZID_UNSUPPORTED, DTSTART_MISSING=DTSTART_MISSING, ALLDAY_INCONSISTENCY=ALLDAY_INCONSISTENCY, DTSTART_MALFORMED=DTSTART_MALFORMED, DTSTART_OUT_OF_BOUNDS=DTSTART_OUT_OF_BOUNDS, DTEND_MALFORMED=DTEND_MALFORMED, DTEND_OUT_OF_BOUNDS=DTEND_OUT_OF_BOUNDS, RRULE_MALFORMED=RRULE_MALFORMED, RRULE_UNSUPPORTED=RRULE_UNSUPPORTED, SINGLE_EDIT_UNSUPPORTED=SINGLE_EDIT_UNSUPPORTED, NO_OCCURRENCES=NO_OCCURRENCES, EXTERNAL_ERROR=EXTERNAL_ERROR, VALIDATION_ERROR=VALIDATION_ERROR
  # EVENT_TYPES: 0=DELETE, 1=CREATE, 2=UPDATE, 3=UPDATE_METADATA
  # EVENT_VERIFICATION_STATUS: 1=SUCCESSFUL, 0=NOT_VERIFIED, -1=FAILED
  # EXPIRATION_DAYS: never=NEVER, 1=ONE, 15=FIFTEEN, 30=THIRTY, 60=SIXTY, 90=NINETY
  # EXPORT_ERRORS: 0=NETWORK_ERROR
  # EXPORT_EVENT_ERROR_TYPES: 0=DECRYPTION_ERROR, 1=PASSWORD_RESET
  # EXPORT_STEPS: 0=EXPORTING, 1=FINISHED
  # EXTENSION: csv=CSV, vcf=VCF
  # ExtraSessionForkSearchParameters: email=Email
  # Fido2CredentialFlags: 1=Compromised
  # FileRevisionState: 0=Draft, 1=Active, 2=Inactive
  # FILTER_STATUS: 1=ENABLED, 0=DISABLED
  # FlagAction: 0=MARK_OBSOLETE, 1=MARK_NOT_OBSOLETE, 2=MARK_COMPROMISED, 3=MARK_NOT_COMPROMISED, 4=DISABLE_ENCRYPTION, 5=ENABLE_ENCRYPTION, 6=DISABLE_EXPECT_SIGNED, 7=ENABLE_EXPECT_SIGNED
  # FOLDER_COLOR: 0=DISABLED, 1=ENABLED
  # ForkSearchParameters: app=App, state=State, sk=Base64Key, v=Version, u=LocalID, t=ForkType, p=Persistent, tr=Trusted, prompt=Prompt, independent=Independent, pt=PayloadType, source=Source, selector=Selector, pv=PayloadVersion, promptType=PromptType, promptBypass=PromptBypass, plan=Plan, partnerId=PartnerId, uru=UnauthenticatedReturnUrl
  # ForkType: 1=SWITCH, 2=SIGNUP, 3=LOGIN
  # ForwardingState: 0=Pending, 1=Active, 2=Outdated, 3=Paused, 4=Rejected
  # ForwardingType: 0=InternalUnencrypted, 1=InternalEncrypted, 2=ExternalUnencrypted, 3=ExternalEncrypted
  # FREQUENCY: ONCE=ONCE, DAILY=DAILY, WEEKLY=WEEKLY, MONTHLY=MONTHLY, YEARLY=YEARLY, CUSTOM=CUSTOM, OTHER=OTHER
  # GENERATION_SELECTION_TYPE: HAS_SELECTION=HAS_SELECTION, NO_SELECTION=NO_SELECTION
  # GENERATION_TYPE: WRITE_FULL_EMAIL=WRITE_FULL_EMAIL, SHORTEN=SHORTEN, PROOFREAD=PROOFREAD, EXPAND=EXPAND, FORMALIZE=FORMALIZE, FRIENDLY=FRIENDLY, CUSTOM_REFINE=CUSTOM_REFINE
  # GetActiveSessionType: 0=Switch, 1=AutoPick
  # GROUP_MEMBER_PERMISSIONS: 0=NONE, 1=SEND, 2=LEAVE, 4=OWNER, 8=OWNER_WITH_KEYS
  # GROUP_MEMBER_STATE: 0=PENDING, 1=ACTIVE, 2=OUTDATED, 3=PAUSED, 4=REJECTED
  # GROUP_MEMBER_TYPE: 0=INTERNAL, 1=EXTERNAL, 2=INTERNAL_TYPE_EXTERNAL
  # GROUP_MEMBERSHIP_STATUS: active=ACTIVE, unanswered=UNANSWERED
  # GroupFlags: 0=None
  # GroupMemberType: 0=Internal, 1=External
  # GroupPermissions: 0=NobodyCanSend, 1=GroupMembersCanSend, 2=OrgMembersCanSend, 3=EveryoneCanSend
  # HandshakeInfoVendorType: 0=ProtonDrive, 1=ProtonDoc, 2=ProtonSheet
  # HIDE_SENDER_IMAGES: 0=SHOW, 1=HIDE
  # HTTP_STATUS_CODE: 200=OK, 400=BAD_REQUEST, 401=UNAUTHORIZED, 403=FORBIDDEN, 404=NOT_FOUND, 409=CONFLICT, 422=UNPROCESSABLE_ENTITY, 429=TOO_MANY_REQUESTS, 500=INTERNAL_SERVER_ERROR
  # ICAL_ALARM_ACTION: DISPLAY=DISPLAY, EMAIL=EMAIL, AUDIO=AUDIO
  # ICAL_ATTENDEE_ROLE: REQ-PARTICIPANT=REQUIRED, OPT-PARTICIPANT=OPTIONAL, NON-PARTICIPANT=NON
  # ICAL_ATTENDEE_RSVP: TRUE=TRUE, FALSE=FALSE
  # ICAL_ATTENDEE_STATUS: NEEDS-ACTION=NEEDS_ACTION, ACCEPTED=ACCEPTED, DECLINED=DECLINED, TENTATIVE=TENTATIVE, DELEGATED=DELEGATED
  # ICAL_CALSCALE: GREGORIAN=GREGORIAN
  # ICAL_EVENT_STATUS: TENTATIVE=TENTATIVE, CONFIRMED=CONFIRMED, CANCELLED=CANCELLED
  # ICAL_METHOD: PUBLISH=PUBLISH, REQUEST=REQUEST, REPLY=REPLY, CANCEL=CANCEL, COUNTER=COUNTER, DECLINECOUNTER=DECLINECOUNTER, ADD=ADD, REFRESH=REFRESH
  # IDP_TYPE: 1=DEFAULT, 2=EDUGAIN
  # IGNORE_KT: 0=NORMAL, 1=EXTERNAL, 2=CATCHALL
  # IMAGE_PROXY_FLAGS: 0=NONE, 1=INCORPORATOR, 2=PROXY, 3=ALL
  # IMPORT_CONTACT_ERROR_TYPE: 0=UNSUPPORTED_VCARD_VERSION, 1=MISSING_FN, 2=ENCRYPTION_ERROR, 3=EXTERNAL_ERROR
  # IMPORT_ERROR_TYPE: 0=NO_FILE_SELECTED, 1=NO_CSV_OR_VCF_FILE, 2=FILE_EMPTY, 3=FILE_TOO_BIG, 4=FILE_CORRUPTED, 5=NO_CONTACTS, 6=TOO_MANY_CONTACTS
  # IMPORT_EVENT_ERROR_TYPE: WRONG_FORMAT=WRONG_FORMAT, NON_GREGORIAN=NON_GREGORIAN, TODO_FORMAT=TODO_FORMAT, JOURNAL_FORMAT=JOURNAL_FORMAT, FREEBUSY_FORMAT=FREEBUSY_FORMAT, TIMEZONE_FORMAT=TIMEZONE_FORMAT, TIMEZONE_IGNORE=TIMEZONE_IGNORE, VEVENT_INVALID=VEVENT_INVALID, VEVENT_UNSUPPORTED=VEVENT_UNSUPPORTED, UNEXPECTED_FLOATING_TIME=UNEXPECTED_FLOATING_TIME, ALLDAY_INCONSISTENCY=ALLDAY_INCONSISTENCY, DTSTART_MISSING=DTSTART_MISSING, DTSTART_MALFORMED=DTSTART_MALFORMED, DTSTART_OUT_OF_BOUNDS=DTSTART_OUT_OF_BOUNDS, DTEND_MALFORMED=DTEND_MALFORMED, DTEND_OUT_OF_BOUNDS=DTEND_OUT_OF_BOUNDS, X_WR_TIMEZONE_UNSUPPORTED=X_WR_TIMEZONE_UNSUPPORTED, TZID_UNSUPPORTED=TZID_UNSUPPORTED, RRULE_MALFORMED=RRULE_MALFORMED, RRULE_UNSUPPORTED=RRULE_UNSUPPORTED, SINGLE_EDIT_UNSUPPORTED=SINGLE_EDIT_UNSUPPORTED, NOTIFICATION_OUT_OF_BOUNDS=NOTIFICATION_OUT_OF_BOUNDS, VALIDATION_ERROR=VALIDATION_ERROR, ENCRYPTION_ERROR=ENCRYPTION_ERROR, PARENT_EVENT_MISSING=PARENT_EVENT_MISSING, EXTERNAL_ERROR=EXTERNAL_ERROR, NO_OCCURRENCES=NO_OCCURRENCES
  # IMPORT_GROUPS_ACTION: 0=MERGE, 1=CREATE, 2=IGNORE
  # IMPORT_STEPS: 0=ATTACHING, 1=ATTACHED, 2=IMPORT_CSV, 3=WARNING, 4=IMPORTING, 5=SUMMARY, 6=IMPORT_GROUPS
  # INCOMING_DEFAULTS_LOCATION: 14=BLOCKED
  # INCOMPATIBILITY_TYPE: BROWSER=BROWSER, HARDWARE=HARDWARE
  # INHERIT_PARENT_FOLDER_COLOR: 0=DISABLED, 1=ENABLED
  # INVITATION_ERROR_TYPE: INVITATION_INVALID=INVITATION_INVALID, INVITATION_UNSUPPORTED=INVITATION_UNSUPPORTED, INVALID_METHOD=INVALID_METHOD, NO_COMPONENT=NO_COMPONENT, NO_VEVENT=NO_VEVENT, PARSING_ERROR=PARSING_ERROR, DECRYPTION_ERROR=DECRYPTION_ERROR, FETCHING_ERROR=FETCHING_ERROR, UPDATING_ERROR=UPDATING_ERROR, EVENT_CREATION_ERROR=EVENT_CREATION_ERROR, EVENT_UPDATE_ERROR=EVENT_UPDATE_ERROR, CANCELLATION_ERROR=CANCELLATION_ERROR, UNEXPECTED_ERROR=UNEXPECTED_ERROR, EXTERNAL_ERROR=EXTERNAL_ERROR
  # KEY_FLAG: 8=FLAG_EMAIL_NO_SIGN, 4=FLAG_EMAIL_NO_ENCRYPT, 2=FLAG_NOT_OBSOLETE, 1=FLAG_NOT_COMPROMISED
  # KEY_TRANSPARENCY_SETTING: 0=DISABLED, 1=ENABLED
  # KeyboardKey: Backspace=Backspace, Tab=Tab, Enter=Enter, Shift=Shift, Control=Control, Alt=Alt, CapsLock=CapsLock, Escape=Escape,  =Space,  =Spacebar, PageUp=PageUp, PageDown=PageDown, End=End, Home=Home, ArrowLeft=ArrowLeft, ArrowUp=ArrowUp, ArrowRight=ArrowRight, ArrowDown=ArrowDown, Left=Left, Up=Up, Right=Right, Down=Down, Insert=Insert, Delete=Delete, 0=Zero, )=ClosedParen, 1=One, !=ExclamationMark, 2=Two, @=AtSign, 3=Three, £=PoundSign, #=Hash, 4=Four, $=DollarSign, 5=Five, %=PercentSign, 6=Six, ^=Caret, ^=Hat, 7=Seven, &=Ampersand, 8=Eight, *=Star, *=Asterisk, 9=Nine, (=OpenParen, a=a, b=b, c=c, d=d, e=e, f=f, g=g, h=h, i=i, j=j, k=k, l=l, m=m, n=n, o=o, p=p, q=q, r=r, s=s, t=t, u=u, v=v, w=w, x=x, y=y, z=z, A=A, B=B, C=C, D=D, E=E, F=F, G=G, H=H, I=I, J=J, K=K, L=L, M=M, N=N, O=O, P=P, Q=Q, R=R, S=S, T=T, U=U, V=V, W=W, X=X, Y=Y, Z=Z, Meta=Meta, Meta=LeftWindowKey, Meta=RightWindowKey, 0=Numpad0, 1=Numpad1, 2=Numpad2, 3=Numpad3, 4=Numpad4, 5=Numpad5, 6=Numpad6, 7=Numpad7, 8=Numpad8, 9=Numpad9, *=Multiply, +=Add, -=Subtract, .=DecimalPoint, Decimal=MSDecimalPoint, /=Divide, F1=F1, F2=F2, F3=F3, F4=F4, F5=F5, F6=F6, F7=F7, F8=F8, F9=F9, F10=F10, F11=F11, F12=F12, NumLock=NumLock, ScrollLock=ScrollLock, ;=SemiColon, ==Equals, ,=Comma, -=Dash, .=Period, _=UnderScore, +=PlusSign, /=Slash, /=ForwardSlash, ~=Tilde, `=GraveAccent, [=OpenBracket, ]=ClosedBracket, '=Quote, ?=QuestionMark
  # KEYGEN_TYPES: CURVE25519=CURVE25519, PQC=PQC
  # KeyTransparencyActivation: 0=DISABLED, 1=LOG_ONLY, 2=SHOW_UI
  # KT_VERIFICATION_STATUS: 0=VERIFIED_KEYS, 1=UNVERIFIED_KEYS, 2=VERIFICATION_FAILED
  # LABEL_EXCLUSIVE: 1=FOLDER, 0=LABEL
  # LABEL_TYPE: 1=MESSAGE_LABEL, 2=CONTACT_GROUP, 3=MESSAGE_FOLDER, 4=SYSTEM_FOLDER
  # LayoutSetting: 0=List, 1=Grid
  # LINK_TYPES: web=WEB, email=EMAIL, phone=PHONE
  # LinkState: 0=DRAFT, 1=ACTIVE, 2=TRASHED
  # LinkType: 1=FOLDER, 2=FILE, 3=ALBUM
  # LinkURLType: folder=FOLDER, file=FILE
  # LUMO_UPSELL_PATHS: top-navigation-bar=TOP_NAVIGATION_BAR, chat-history=CHAT_HISTORY, sidebar=SIDEBAR, sidebar-button=SIDEBAR_BUTTON, settings-modal=SETTINGS_MODAL, settings-modal-plan=SETTINGS_MODAL_PLAN, limit-questions=LIMIT_QUESTIONS, free-user-question-limit=QUESTION_LIMIT_FREE, paid-user-question-limit=QUESTION_LIMIT_B2B_B2C, lumo-plus-upgrade-modal=LUMO_PLUS_UPGRADE_MODAL, lumo-plus-upgrade-toggle=LUMO_PLUS_UPGRADE_TOGGLE
  # MAIL_PAGE_SIZE: 50=FIFTY, 100=ONE_HUNDRED, 200=TWO_HUNDRED
  # MAIL_UPSELL_BANNER_LINK_ID_REF_PATH: 3=SEND_FROM_PM_ADDRESS, 4=GET_MORE_FOLDERS_FILTERS_AND_ADDRESSES, 5=AUTO_REPLY, 7=THIRD_PARTY_CLIENTS, 9=GET_MORE_FEATURES, 15=HOST_EMAILS_FROM_YOUR_DOMAINS, 16=PROTECT_YOUR_BUSINESS, 17=ADD_MORE_ADDRESSES, 18=CONTACT_GROUPS, 19=PRIVACY_FIRST_INTERNET, 20=PRIVACY_FOR_ALL, 23=PREMIUM_FEATURES, 24=LVL_UP_PRIVACY, 25=PROTON_SENTINEL
  # MAIL_UPSELL_PATHS: auto-reply=AUTO_REPLY, domain-names=DOMAIN_NAMES, catch-all=CATCH_ALL, bridge=BRIDGE, pm-me=PM_ME, short-address=SHORT_ADDRESS, auto-delete=AUTO_DELETE, schedule-send=SCHEDULE_SEND, storage-full=STORAGE_FULL, get-started-checklist=GET_STARTED_CHECKLIST, mail-footer=MAIL_FOOTER, unlimited-folders=UNLIMITED_FOLDERS, unlimited-labels=UNLIMITED_LABELS, unlimited-filters=UNLIMITED_FILTERS, unlimited-filters-newsletter-subscription=UNLIMITED_FILTERS_NEWSLETTER_SUBSCRIPTION, unlimited-folders-newsletter-subscription=UNLIMITED_FOLDERS_NEWSLETTER_SUBSCRIPTION, unlimited-addresses=UNLIMITED_ADDRESSES, forward-emails=FORWARD_EMAILS, smtp-submission=SMTP_SUBMISSION, snooze-message=SNOOZE_MESSAGE, proton-sentinel=PROTON_SENTINEL, pass-aliases=PASS_ALIASES, trial-welcome=TRIAL_WELCOME, trial-banner=TRIAL_BANNER, trial-end=TRIAL_END, assistant-toggle=ASSISTANT_TOGGLE, assistant-toggle-downgrade=ASSISTANT_TOGGLE_DOWNGRADE, assistant-composer=ASSISTANT_COMPOSER, zoom-meeting=ZOOM_MEETING, account-locked-state=ACCOUNT_LOCKED, dark-web-monitoring=DARK_WEB_MONITORING, subscription-reminder-privacy=SUBSCRIPTION_REMINDER_PRIVACY, subscription-reminder-productivity=SUBSCRIPTION_REMINDER_PRODUCTIVITY, one-dollar-initial-reminder=ONE_DOLLAR_INITIAL_REMINDER, one-dollar-second-reminder=ONE_DOLLAR_SECOND_REMINDER, one-dollar-last-reminder=ONE_DOLLAR_LAST_REMINDER, go-unlimited-2025=GO_UNLIMITED_2025, unlimited-to-duo=UNLIMITED_TO_DUO, plus_monthly-subscriber-nudge-variant-money=PLUS_MONTHLY_SUBSCRIBER_NUDGE_VARIANT_MONEY, bundle_monthly-subscriber-nudge-variant-money=BUNDLE_MONTHLY_SUBSCRIBER_NUDGE_VARIANT_MONEY
  # MAIL_VERIFICATION_STATUS: -1=NOT_VERIFIED, 0=NOT_SIGNED, 1=SIGNED_AND_VALID, 2=SIGNED_AND_INVALID
  # MAILBOX_LABEL_IDS: 0=INBOX, 1=ALL_DRAFTS, 2=ALL_SENT, 3=TRASH, 4=SPAM, 5=ALL_MAIL, 10=STARRED, 6=ARCHIVE, 7=SENT, 8=DRAFTS, 9=OUTBOX, 12=SCHEDULED, 15=ALMOST_ALL_MAIL, 16=SNOOZED, 20=CATEGORY_SOCIAL, 21=CATEGORY_PROMOTIONS, 22=CATEGORY_UPDATES, 24=CATEGORY_DEFAULT, 25=CATEGORY_NEWSLETTERS, 26=CATEGORY_TRANSACTIONS, 40=SOFT_DELETED
  # MARK_AS_STATUS: read=READ, unread=UNREAD
  # MeetingState: 0=DELETED, 1=ACTIVE
  # MeetingType: 0=INSTANT, 1=PERSONAL, 2=SCHEDULED, 3=RECURRING, 4=PERMANENT
  # MEMBER_INVITATION_STATUS: 0=PENDING, 1=ACCEPTED, 2=REJECTED
  # MEMBER_ORG_KEY_STATE: 0=NoKey, 1=Active, 2=Missing, 3=Pending
  # MEMBER_PERMISSIONS: 1=MANAGE_FORWARDING
  # MEMBER_PRIVATE: 0=READABLE, 1=UNREADABLE
  # MEMBER_ROLE: 0=ORGANIZATION_NONE, 1=ORGANIZATION_MEMBER, 2=ORGANIZATION_ADMIN
  # MEMBER_STATE: 0=STATUS_DISABLED, 1=STATUS_ENABLED, 2=STATUS_INVITED
  # MEMBER_SUBSCRIBER: 0=NON_PAYER, 1=PAYER
  # MEMBER_TYPE: 0=PROTON, 1=MANAGED
  # MemberUnprivatizationMode: 0=None, 1=MagicLinkInvite, 2=GSSO, 3=AdminAccess
  # MemberUnprivatizationState: 0=Declined, 1=Pending, 2=Ready
  # MESSAGE_BUTTONS: 0=READ_UNREAD, 1=UNREAD_READ
  # METRICS_LOG: signup=SIGNUP, encrypted_search=ENCRYPTED_SEARCH, dark_styles=DARK_STYLES
  # MIME_TYPES: multipart/mixed=MIME, text/plain=PLAINTEXT, text/html=DEFAULT, text/calendar=ICS, application/ics=APPLICATION_ICS, application/pgp-keys=PGP_KEYS
  # MIME_TYPES_MORE: =AUTOMATIC
  # MNEMONIC_STATUS: 0=DISABLED, 1=ENABLED, 2=OUTDATED, 3=SET, 4=PROMPT
  # MONTHLY_TYPE: 0=ON_MONTH_DAY, 1=ON_NTH_DAY, -1=ON_MINUS_NTH_DAY
  # MotionModeSetting: 0=No_preference, 1=Reduce
  # MX_STATE: 0=MX_STATE_DEFAULT, 1=MX_STATE_NO_US, 2=MX_STATE_INC_US, 3=MX_STATE_GOOD, 4=MX_STATE_BACKUP
  # NEWSLETTER_SUBSCRIPTIONS: Announcements=ANNOUNCEMENTS, Features=FEATURES, Newsletter=NEWSLETTER, Beta=BETA, Business=BUSINESS, Offers=OFFERS, NewEmailNotif=NEW_EMAIL_NOTIF, Onboarding=ONBOARDING, UserSurveys=USER_SURVEY, InboxNews=INBOX_NEWS, VpnNews=VPN_NEWS, DriveNews=DRIVE_NEWS, PassNews=PASS_NEWS, WalletNews=WALLET_NEWS, LumoNews=LUMO_NEWS, InAppNotifications=IN_APP_NOTIFICATIONS
  # NEWSLETTER_SUBSCRIPTIONS_BITS: 1=ANNOUNCEMENTS, 2=FEATURES, 4=NEWSLETTER, 8=BETA, 16=BUSINESS, 32=OFFERS, 64=NEW_EMAIL_NOTIF, 128=ONBOARDING, 256=USER_SURVEY, 512=INBOX_NEWS, 1024=VPN_NEWS, 2048=DRIVE_NEWS, 4096=PASS_NEWS, 8192=WALLET_NEWS, 16384=IN_APP_NOTIFICATIONS, 32768=LUMO_NEWS
  # NEXT_MESSAGE_ON_MOVE: 0=DISABLED, 1=DEFAULT, 2=ENABLED
  # NOTIFICATION_TYPE_API: 0=EMAIL, 1=DEVICE
  # NOTIFICATION_UNITS: 1=WEEK, 2=DAY, 3=HOUR, 4=MINUTE
  # NOTIFICATION_WHEN: -=BEFORE, =AFTER
  # ORGANIZATION_FLAGS: 1=LOYAL, 2=COVID, 4=SMTP_SUBMISSION, 8=NO_CYCLE_SCHEDULED, 64=DISSIDENT, 128=PROTON, 256=PHONE_SUPPORT, 512=TO_MIGRATE_ORG_KEY, 2048=DELETION_WHITELISTED
  # ORGANIZATION_POLICY_ENFORCED: 0=NO, 1=YES
  # ORGANIZATION_STATE: 1=ACTIVE, 2=DELINQUENT
  # ORGANIZATION_TWOFA_SETTING: 0=NOT_REQUIRED, 1=REQUIRED_ADMIN_ONLY, 2=REQUIRED_ALL
  # OrganizationKeyMode: 0=Legacy, 1=Passwordless
  # OrganizationKeyState: 0=NoKey, 1=Setup, 2=Activate, 3=Inactive, 4=Active
  # OrganizationPlanFlag: 1=Mail, 2=Drive, 4=VPN, 8=Pass, 16=Wallet, 64=Lumo
  # OrganizationSignatureState: 0=publicKeys, 1=valid, 2=error
  # OVERWRITE: 0=THROW_ERROR_IF_CONFLICT, 1=OVERWRITE_CONTACT
  # PACKAGE_SIGNATURES_MODE: 0=SIGNATURES_NONE, 1=SIGNATURES_ATTACHMENTS, 2=SIGNATURES_BODY
  # PACKAGE_TYPE: 1=SEND_PM, 2=SEND_EO, 4=SEND_CLEAR, 8=SEND_PGP_INLINE, 16=SEND_PGP_MIME, 32=SEND_CLEAR_MIME
  # ParticipantCapabilityPermission: 0=NotAllowed, 1=Allowed
  # PASSWORD_MODE: 1=SINGLE, 2=TWO_PASSWORD
  # PasswordPolicyState: 1=ENABLED, 2=OPTIONAL
  # PGP_SCHEME_TEXT: PGP/Inline=INLINE, PGP/MIME=MIME
  # PGP_SCHEMES: pgp-inline=PGP_INLINE, pgp-mime=PGP_MIME
  # PGP_SCHEMES_MORE: =GLOBAL_DEFAULT
  # PhotoTag: -1=All, 0=Favorites, 1=Screenshots, 2=Videos, 3=LivePhotos, 4=MotionPhotos, 5=Selfies, 6=Portraits, 7=Bursts, 8=Panoramas, 9=Raw
  # PM_SIGNATURE: 0=DISABLED, 1=ENABLED, 2=LOCKED
  # PM_SIGNATURE_REFERRAL: 0=DISABLED, 1=ENABLED
  # Product: Account=Account, Authenticator=Authenticator, Mail=Mail, Calendar=Calendar, Wallet=Wallet, Docs=Docs, Sheets=Sheets, Lumo=Lumo, Drive=Drive, VPN=VPN, VPN=Verify, Admin=Admin, Pass=Pass, Meet=Meet, Other=Other
  # PRODUCT: 1=MAIL, 2=VPN, 3=CALENDAR, 4=DRIVE, 5=PASS, 6=WALLET, 9=LUMO, 10=AUTHENTICATOR
  # PRODUCT_BIT: 1=MAIL, 2=DRIVE, 4=VPN, 8=PASS, 16=WALLET, 32=NEUTRON, 64=LUMO, 256=MEET
  # PROMPT_PIN: 0=DISABLED, 1=ENABLED
  # ProtectionType: 1=BLOCKED, 2=CAPTCHA, 3=OWNERSHIP_VERIFICATION, 4=DEVICE_VERIFICATION, 5=OK
  # PROTON_WEBSITES: https://status.proton.me=PROTON_STATUS_PAGE
  # ProtonCalendarState: 0=NOT_FROM_PROTON_CALENDAR, 1=FROM_PROTON_CALENDAR
  # RAWMimeTypes: image/x-dcraw=dcraw, image/x-adobe-dng=dng, image/x-canon-crw=crw, image/x-canon-cr2=cr2, image/x-canon-cr3=cr3, image/x-epson-erf=erf, image/x-fuji-raf=raf, image/x-kodak-dcr=dcr, image/x-kodak-k25=k25, image/x-kodak-kdc=kdc, image/x-minolta-mrw=mrw, image/x-nikon-nef=nef, image/x-nikon-nrw=nrw, image/x-olympus-orf=orf, image/x-panasonic-raw=raw, image/x-panasonic-rw2=rw2, image/x-pentax-pef=pef, image/x-pentax-ptx=ptx, image/x-sigma-x3f=x3f, image/x-sony-srf=srf, image/x-sony-sr2=sr2, image/x-sony-arw=arw, image/x-phaseone-iiq=iiq, image/x-mamiya-mef=mef, image/x-leica-rwl=rwl, image/x-hasselblad-3fr='3fr', image/x-hasselblad-fff=fff
  # RAWThumbnailExtractionSupported: image/x-adobe-dng=dng, image/x-sony-arw=arw, image/x-epson-erf=erf, image/x-minolta-mrw=mrw, image/x-nikon-nrw=nrw, image/x-olympus-orf=orf, image/x-fuji-raf=raf, image/x-panasonic-rw2=rw2, image/x-canon-cr2=cr2, image/x-canon-cr3=cr3, image/heic=heic, image/x-nikon-nef=nef
  # REASON_TYPES: email=EMAIL, ticket_id=TICKET_ID, other=OTHER
  # RECIPIENT_TYPES: 1=TYPE_INTERNAL, 2=TYPE_EXTERNAL
  # RECURRING_TYPES: 1=ALL, 2=FUTURE, 3=SINGLE
  # ReferralState: 0=INVITED, 1=SIGNED_UP, 2=TRIAL, 3=COMPLETED, 4=REWARDED
  # RELEASE_CATEGORIES: Stable=STABLE, Alpha=ALPHA, EarlyAccess=EARLY_ACCESS
  # RESPONSE_CODE: 1000=SUCCESS, 2011=NOT_ALLOWED, 2000=INVALID_REQUIREMENT, 2001=INVALID_LINK_TYPE, 2500=ALREADY_EXISTS, 2501=NOT_FOUND, 2061=INVALID_ID
  # RetentionRuleAction: 0=RetainPurgeDeleted, 1=RetainPurgeAll, 2=RetainAll
  # RetentionRuleProduct: 1=Mail
  # RetentionRuleScopeType: 1=User, 2=Group
  # SAVE_CONFIRMATION_TYPES: 1=SINGLE, 2=RECURRING
  # SEND_MESSAGE_DIRECT_ACTION: 0=REPLY, 1=REPLY_ALL, 2=FORWARD, 3=AUTO_RESPONSE, 4=READ_RECEIPT
  # SentryCalendarInitiatives: rsvp-note=RSVP_NOTE, bookings=BOOKINGS
  # SentryCommonInitiatives: post-subscription=POST_SUBSCRIPTION, encrypted-search=ENCRYPTED_SEARCH
  # SentryMailInitiatives: drawer-security-center=DRAWER_SECURITY_CENTER, drawer-vpn=DRAWER_VPN, composer=COMPOSER, assistant=ASSISTANT, mail-onboarding=MAIL_ONBOARDING, list-actions-telemetry=LIST_ACTIONS_TELEMETRY, remove-email-trackers=REMOVE_EMAIL_TRACKERS, upsell-modals=UPSELL_MODALS, move-actions=MOVE_ACTIONS, mail-redux-errors=MAIL_REDUX_ERRORS, migration-tool=MIGRATION_TOOL
  # SentryMailPerformanceInitiatives: apply-location-performance=APPLY_LOCATION_PERFORMANCE
  # SERVER_FEATURES: 1=SECURE_CORE, 2=TOR, 4=P2P, 8=XOR, 16=IPV6, 32=RESTRICTED, 64=PARTNER, 128=DOUBLE_RESTRICTION
  # SessionRecoveryReason: 0=NONE, 1=CANCELLED, 2=AUTHENTICATION
  # SessionRecoveryState: 0=NONE, 1=GRACE_PERIOD, 2=CANCELLED, 3=INSECURE, 4=EXPIRED
  # SessionSource: 0=Proton, 1=Saml, 2=Oauth
  # SETTINGS_2FA_ENABLED: 1=OTP, 2=FIDO2
  # SETTINGS_DATE_FORMAT: 0=LOCALE_DEFAULT, 1=DDMMYYYY, 2=MMDDYYYY, 3=YYYYMMDD
  # SETTINGS_LOG_AUTH_STATE: 0=DISABLE, 1=BASIC, 2=ADVANCED
  # SETTINGS_PASSWORD_MODE: 1=ONE_PASSWORD_MODE, 2=TWO_PASSWORD_MODE
  # SETTINGS_PROTON_SENTINEL_STATE: 0=DISABLED, 1=ENABLED
  # SETTINGS_STATUS: 0=UNVERIFIED, 1=VERIFIED, 2=INVALID
  # SETTINGS_TIME_FORMAT: 0=LOCALE_DEFAULT, 1=H24, 2=H12
  # SETTINGS_VIEW: 0=DAY, 1=WEEK, 2=MONTH, 3=YEAR, 4=PLANNING
  # SETTINGS_WEEK_START: 0=LOCALE_DEFAULT, 1=MONDAY, 2=TUESDAY, 3=WEDNESDAY, 4=THURSDAY, 5=FRIDAY, 6=SATURDAY, 7=SUNDAY
  # SHARE_EXTERNAL_INVITATION_STATE: 1=PENDING, 2=USER_REGISTERED
  # SHARE_MEMBER_STATE: 1=PENDING, 2=REJECTED, 3=DELETED
  # SHARED_UPSELL_PATHS: emergency-access=EMERGENCY_ACCESS, multi-user=MULTI_USER, contact-groups=CONTACT_GROUP, storage=STORAGE, user-dropdown=USER_DROPDOWN, storage-percentage=STORAGE_PERCENTAGE, organization-capacity=ORGANIZATION_CAPACITY, sentinel=SENTINEL, sentinel-b2b=SENTINEL_B2B, trial-will-end=TRIAL_WILL_END, top-navigation-bar=TOP_NAVIGATION_BAR, public-sharing-permissions-menu=PUBLIC_SHARING_PERMISSIONS_MENU, easy-switch-byoe=EASY_SWITCH_BYOE
  # SharedURLFlags: 0=Legacy, 1=CustomPassword, 2=GeneratedPasswordIncluded, 3=GeneratedPasswordWithCustom
  # ShareTargetType: 0=Root, 1=Folder, 2=File, 3=Album, 4=Photo, 5=ProtonVendor
  # SHORTCUTS: 0=DISABLED, 1=ENABLED
  # SHOW_IMAGES: 0=SHOW, 1=HIDE
  # SHOW_MOVED: 0=NONE, 1=DRAFTS, 2=SENT, 3=DRAFTS_AND_SENT
  # SIGN: 0=DISABLED, 1=ENABLED
  # SIMPLE_LOGIN_EXTENSION_LINKS: https://simplelogin.io=MAIN_PAGE, https://app.simplelogin.io/dashboard/=DASHBOARD
  # SIMPLE_LOGIN_TAGS: EXTENSION_INSTALLED_QUERY=EXTENSION_INSTALLED_QUERY, EXTENSION_INSTALLED_RESPONSE=EXTENSION_INSTALLED_RESPONSE
  # SORT_DIRECTION: ASC=ASC, DESC=DESC
  # SortSetting: 1=NameAsc, 2=SizeAsc, 4=ModifiedAsc, -1=NameDesc, -2=SizeDesc, -4=ModifiedDesc
  # SOURCE_EVENT: BUTTON_SIDEBAR=BUTTON_SIDEBAR, BUTTON_FOLDERS=BUTTON_FOLDERS, BUTTON_LABELS=BUTTON_LABELS, BUTTON_VIEWS=BUTTON_VIEWS, BUTTON_BOOKINGS=BUTTON_BOOKINGS, BUTTON_CALENDARS=BUTTON_CALENDARS
  # SpaceState: 0=Good, 1=Warning, 2=Danger
  # SPAM_ACTION: 0=JustSpam, 1=SpamAndUnsub
  # SPAM_SCORE: 100=PM_SPOOFED, 101=DMARC_FAILED, 102=PHISHING
  # SPF_STATE: 0=SPF_STATE_DEFAULT, 1=SPF_STATE_ONE, 2=SPF_STATE_MULT, 3=SPF_STATE_GOOD
  # Status: 1=Pending, 2=Resolved, 3=Rejected
  # STICKY_LABELS: 0=DISABLED, 1=ENABLED
  # SupportedBrowserValue: 0=Unsupported, 1=Supported, -1=Other
  # SupportedMimeTypes: audio/aac=aac, application/vnd.android.package-archive=apk, image/apng=apng, application/x-freearc=arc, video/x-msvideo=avi, image/avif=avif, image/bmp=bmp, application/x-bzip2=bzip2, image/x-canon-cr3=cr3, application/vnd.openxmlformats-officedocument.wordprocessingml.document=docx, application/vnd.ms-fontobject=eot, application/epub+zip=epub, audio/x-flac=flac, video/x-flv=flv, image/gif=gif, application/gzip=gzip, image/heic=heic, image/heic-sequence=heics, image/heif=heif, image/heif-sequence=heifs, image/x-icon=ico, image/jpeg=jpg, image/jxl=jxl, application/vnd.apple.keynote=keynote, audio/x-m4a=m4a, video/x-m4v=m4v, audio/midi=midi, video/MP1S=mp1s, video/MP2P=mp2p, video/mp2t=mp2t, audio/mp4=mp4a, video/mp4=mp4v, audio/mpeg=mpeg, video/mpeg=mpg, application/vnd.apple.numbers=numbers, application/vnd.oasis.opendocument.presentation=odp, application/vnd.oasis.opendocument.spreadsheet=ods, application/vnd.oasis.opendocument.text=odt, audio/ogg=oga, application/ogg=ogg, video/ogg=ogv, audio/opus=opus, font/otf=otf, application/vnd.apple.pages=pages, application/pdf=pdf, image/png=png, application/vnd.openxmlformats-officedocument.presentationml.presentation=pptx, audio/qcelp=qcp, video/quicktime=qt, application/vnd.rar=rar, application/rtf=rtf, image/svg+xml=svg, application/x-shockwave-flash=swf, application/x-tar=tar, image/tiff=tiff, font/ttf=ttf, video/3gpp2=v3g2, video/3gpp=v3gp, audio/wav=wav, image/webp=webp, font/woff=woff, font/woff2=woff2, application/x-7z-compressed=x7zip, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet=xlsx, text/xml=xml, application/zip=zip, image/vnd.microsoft.icon=vdnMicrosoftIcon
  # SupportedProtonDocsMimeTypes: application/vnd.openxmlformats-officedocument.wordprocessingml.document=docx, text/plain=txt, text/markdown=md, text/html=html, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet=xlsx, text/csv=csv, text/tab-separated-values=tsv, application/vnd.oasis.opendocument.spreadsheet=ods
  # SWIPE_ACTION: -1=None, 0=Trash, 1=Spam, 2=Star, 3=Archive, 4=MarkAsRead, 5=LabelAs, 6=MoveTo
  # TelemetryAccountCancellationEvents: start_cancellation=startCancellation, cancel_page=cancelPage, cancel_modal=cancelModal, feedback_modal=feedbackModal, resubscribe_modal=resubscribeModal, dashboard_reactivate=dashboardReactivate, upsell_modal=upsellModal
  # TelemetryAccountDashboardEvents: page_load=pageLoad
  # TelemetryAccountOrganizationLogoUploadEvents: process_start=processStart, process_success=processSuccess, process_failure=processFailure
  # TelemetryAccountSecurityCheckupEvents: page_load=pageLoad, cohort_change.complete_recovery_multiple=completeRecoveryMultiple, cohort_change.complete_recovery_single=completeRecoverySingle, cohort_change.account_recovery_enabled=accountRecoveryEnabled, cohort_change.complete_recovery_sentinel=completeRecoverySentinel, cohort_change.sentinel_recommendations=sentinelRecommendations
  # TelemetryAccountSignupBasicEvents: flow_started=flow_started, account_created=account_created
  # TelemetryAccountSignupEvents: fe.page_load=pageLoad, user.plan_select=planSelect, user.cycle_select=cycleSelect, user.currency_select=currencySelect, user.payment_select=paymentSelect, user.checkout=userCheckout, user.sign_in=userSignIn, user.interact.account_create=interactAccountCreate, user.interact.upsell=interactUpsell, user.interact.credit_card=interactCreditCard, user.interact.password=interactPassword, user.interact.recovery=interactRecoveryKit, user.interact.download=interactDownload, be.available_external=beAvailableExternal, be.sign_in_success=beSignInSuccess, be.sign_out_success=beSignOutSuccess, be.payments_available=bePaymentMethods, be.checkout_error=checkoutError, fe.onboarding_start=onboardingStart, fe.onboarding_shown=onboardShown, fe.onboarding_finish=onboardFinish, fe.signup_finish=signupFinish
  # TelemetryAlwaysOnUpsellEvents: click_upsell_button=clickUpsellButton, click_top_navbar=clickTopNavbar, close_offer=closeOffer, user_subscribed=userSubscribed
  # TelemetryAppSwitcher: dropdown_app_click=dropdown_app_click
  # TelemetryB2BOnboardingEvents: modal_displayed=modal_displayed, click_modal_item=click_modal_item, hide_navbar_button=hide_navbar_button
  # TelemetryBringYourOwnEmailEvents: claim_proton_address=claim_proton_address
  # TelemetryCalendarEvents: change_temporary_time_zone=change_temporary_time_zone, answer_invite=answer_invite
  # TelemetryCalendarVideoConferencing: video_conference_widget=video_conference_widget, video_conference_settings_toggle=video_conference_settings_toggle, video_conference_zoom_integration=video_conference_zoom_integration, video_conference_proton_meet_integration=video_conference_proton_meet_integration, video_conference_proton_meet_settings_toggle=video_conference_proton_meet_settings_toggle
  # TelemetryChangelog: opened=opened
  # TelemetryCollapsibleLeftSidebarEvents: toggle_left_sidebar=toggleLeftSidebar
  # TelemetryDesktopEvents: client_first_launch=client_first_launch
  # TelemetryDocsEvents: suggestion.created=suggestion_created, suggestion.resolved=suggestion_resolved, suggestion.comment=suggestion_commented
  # TelemetryDocsHomepageEvents: document.opened=document_opened, document.opened_in_trash=document_opened_in_trash, document.created=document_created, document.shared=document_shared, document.trashed=document_trashed, document.restored=document_restored, document.permanently_deleted=document_permanently_deleted, document.renamed=document_renamed, document.moved=document_moved, document.source.opened=document_source_opened, sorting.changed.to_name=sorting_changed_to_name, sorting.changed.to_time=sorting_changed_to_time, sorting.changed.to_owner=sorting_changed_to_owner, sorting.changed.to_location=sorting_changed_to_location, invite.accepted=invite_accepted, invite.rejected=invite_rejected, drive.opened=drive_opened
  # TelemetryDriveWebFeature: drive_web_feature_performance_unauth=performance, drive_web_actions_unauth=actions
  # TelemetryEncryptedSearchEvents: start_es_indexing=start_es_indexing, end_es_indexing=end_es_indexing, pause_es_indexing=pause_es_indexing, perform_search=perform_search, es_search_complete=es_search_complete, clear_search_fields=clear_search_fields, delete_es_data=delete_es_data, switch_search_type=switch_search_type
  # TelemetryESMigrationToolEvents: es_migration_tool.migration_finished=migration_finished
  # TelemetryHeartbeatEvents: mail_heartbeat=mail_heartbeat, calendar_heartbeat=calendar_heartbeat
  # TelemetryIcsSurgeryEvents: import=import, import_publish=import_publish, invitation=invitation, ics_parsing=ics_parsing
  # TelemetryInboxDestkopEvents: mailto_heartbeat=mailto_heartbeat, daily_stats_heartbeat=daily_stats_heartbeat
  # TelemetryKeyTransparencyErrorEvents: self_audit_error=self_audit_error, key_verification_failure=key_verification_failure
  # TelemetryListSetting: list_filter_all=list_filter_all, list_filter_read=list_filter_read, list_filter_unread=list_filter_unread, list_filter_file=list_filter_file, list_order_new_first=list_order_new_first, list_order_old_first=list_order_old_first, list_order_large_first=list_order_large_first, list_order_small_first=list_order_small_first
  # TelemetryMailComposerAssistantEvents: show_assistant=show_assistant, free_trial_start=free_trial_start, download_model=download_model, use_answer=use_answer, not_use_answer=not_use_answer, request_assistant=request_assistant, assistant_error=assistant_error, send_message=send_message, pause_download=pause_download, load_model=load_model, unload_model=unload_model, incompatible_assistant=incompatible_assistant
  # TelemetryMailDrivePostSignupOneDollarEvents: automatic_modal_open=automaticModalOpen, click_upsell_button=clickUpsellButton, click_top_navbar=clickTopNavbar, close_offer=closeOffer, user_subscribed=userSubscribed
  # TelemetryMailEvents: privacy_dropdown_opened=privacy_dropdown_opened, snooze_open_dropdown=snooze_open_dropdown
  # TelemetryMailListEvents: clicks_mail_actions=clicksMailListActions
  # TelemetryMailNewsletterSubscriptions: newsletters_view_visit=newsletters_view_visit, newsletter_action=newsletter_action, newsletter_messages_action=newsletter_messages_action, newsletters_list_sorting=newsletters_list_sorting, newsletters_list_pagination=newsletters_list_pagination
  # TelemetryMailOnboardingEvents: start_onboarding_modals=start_onboarding_modals, finish_onboarding_modals=finish_onboarding_modals, select_theme=select_theme, enable_gmail_forwarding=enable_gmail_forwarding, change_login=change_login, change_login_checklist=change_login_checklist, finish_change_login=finish_change_login, download_desktop_app=download_desktop_app, premium_features=premium_features, close_checklist=close_checklist, clicked_checklist_setting=clicked_checklist_setting
  # TelemetryMailPagingControlsEvents: move_to_previous_page=move_to_previous_page, move_to_next_page=move_to_next_page, clicked_load_more_search_results=clicked_load_more_search_results, move_to_custom_page=move_to_custom_page
  # TelemetryMailSelectAllEvents: button_move_to_archive=button_move_to_archive, button_move_to_trash=button_move_to_trash, banner_move_to=banner_move_to, banner_label_as=banner_label_as, banner_mark_as_read=banner_mark_as_read, banner_mark_as_unread=banner_mark_as_unread, banner_permanent_delete=banner_permanent_delete
  # TelemetryMailTrial2024UpsellModal: no_thanks=noThanks, close_modal=closeModal, upsell=upsell
  # TelemetryMeasurementGroups: account.any.signup=accountSignup, account.web.org_logo_upload=accountOrgLogoUpload, account.web.security_checkup=accountSecurityCheckup, account.web.recovery_settings=accountRecoverySettings, account.web.reset_password=accountResetPassword, account.web.unauth_lost_2fa=accountUnauthLost2FA, account.web.dashboard=accountDashboard, any.web.referral_discover=referralDiscover, any.web.always_on_upsell=alwaysOnUpsell, calendar.web.encrypted_search=calendarEncryptedSearch, calendar.web.ics_surgery=calendarIcsSurgery, calendar.web.timezone_selector=calendarTimeZoneSelector, calendar.web.video_conferencing=calendarVideoConferencing, account.web.cancellation=accountCancellation, any.web.settings_heart_beat=settingsHeartBeat, any.web.calendar_settings_heart_beat=calendarSettingsHeartBeat, any.web.calendar_invite=calendarInvite, any.changelog_opened=changelogOpened, any.web.key_transparency=keyTransparency, any.web.subscription_modal=subscriptionModal, mail.web.onboarding=mailOnboarding, any.web.paid_users_nudge=paidUsersNudge, mail.web.privacy_dropdown=mailPrivacyDropdown, mail.web.select_all=mailSelectAll, mail.web.snooze=mailSnooze, mail.web.signup=mailSignup, mail.web.composer_assistant=mailComposerAssistant, mail.web.proton_tips=mailProtonTips, any.web.post_subscription_tour_events=postSubscriptionTourEvents, mail.desktop.default_mailto=mailDesktopDefaultMailto, mail.desktop.daily_stats=mailDesktopDailyStats, mail.web.clicks_mail_actions=mailActions, mail.web.list_settings=mailListSettings, mail.web.post_signup_one_dollar=mailPostSignupOneDollar, mail.web.paging_controls=mailPagingControls, mail.web.pass_nudge=passNudge, mail.web.newsletter_subscriptions=mailNewsletterSubscriptions, any.web.unlimited_offer_2025=unlimitedOffer2025, any.web.unlimited_to_duo_offer=unlimitedToDuoOffer, mail.es_migration_tool=esMigrationTool, any.web.security_center=securityCenter, any.web.vpn_drawer=vpnDrawer, payments.flow=paymentsFlow, drive.web.feature_performance_unauth=driveWebFeaturePerformance, drive.web.actions_unauth=driveWebActions, drive.web.post_signup_one_dollar=drivePostSignupOneDollar, mail.web.unlimited_offer_2025=driveUnlimitedOffer2025, any.web.collapsible_left_sidebar=collapsibleLeftSidebar, any.web.smart_banner=smartBanner, common.any.client_installs=clientInstalls, any.web.client_search=clientSearch, any.web.b2b_onboarding=b2bOnboarding, any.web.bring_your_own_email=bringYourOwnEmail, any.web.app_switcher=appSwitcher, common.web.suggestions=docsSuggestions, drive.docs.homepage=docsHomepage
  # TelemetryPaidUsersNudge: click_upsell_button=clickUpsellButton, click_top_navbar=clickTopNavbar, close_offer=closeOffer, user_subscribed=userSubscribed, click_hide_offer=clickHideOffer
  # TelemetryPassExtensionEvents: fe.pass_extension_installed=pass_extension_installed
  # TelemetryPassNudgeEvents: banner_display=banner_display, banner_interaction=banner_interaction, pass_cta_click=pass_cta_click
  # TelemetryPaymentsEvents: load_payment=load_payment, payment_attempt=payment_attempt, payment_success=payment_success, payment_failure=payment_failure
  # TelemetryPostSubscriptionTourEvents: post_subscription_action=post_subscription_action, start_feature_tour=start_feature_tour, quit_feature_tour=quit_feature_tour, finish_feature_tour=finish_feature_tour, replaced_default_short_domain_address=replaced_default_short_domain_address
  # TelemetryProtonTipsEvents: tip_displayed=tipDispayed, cta_clicked=CTAButtonClicked, tip_change_state=tipChangeState, close_button_clicked=closeButtonClicked, tip_snoozed=tipSnoozed
  # TelemetryRecoverySettingsEvents: page_load=page_load, setting_enabled=setting_enabled
  # TelemetryReferralDiscoverEvents: top_bar_button_view=top_bar_button_view, top_bar_button_click=top_bar_button_click, top_bar_spotlight_cta_click=top_bar_spotlight_cta_click, settings_spotlight_view=settings_spotlight_view, referral_page_view=referral_page_view, drawer_app_view=drawer_app_view, copy_link_drawer=copy_link_drawer, copy_link_page=copy_link_page, share=share, send_email_invite=send_email_invite
  # TelemetryResetPasswordEvents: page_load=page_load, page_exit=page_exit, step_load=step_load, recovery_methods_requested=recovery_methods_requested, code_sent=code_sent, method_validated=method_validated, success=success, failure=failure
  # TelemetrySecurityCenterEvents: account_security_card=account_security_card, proton_pass_discover_banner=proton_pass_discover_banner, proton_pass_create_alias=proton_pass_create_alias, proton_sentinel_toggle=proton_sentinel_toggle
  # TelemetrySmartBannerEvents: click_app_store_link=clickAppStoreLink
  # TelemetrySubscriptionModalEvents: initialization=initialization, payment=payment, cancelled_on_same_day=cancelledOnSameDay, add_lumo=addLumo, add_meet=addMeet
  # TelemetryUnauthLost2FAEvents: step_load=step_load, flow_outcome=flow_outcome
  # TelemetryUnlimitedOffer2025: click_top_navbar=clickTopNavbar, click_upsell_button=clickUpsellButton, close_offer=closeOffer, user_subscribed=userSubscribed, click_hide_offer=clickHideOffer
  # TelemetryUnlimitedToDuoOffer: click_upsell_button=clickUpsellButton, click_top_navbar=clickTopNavbar, user_subscribed=userSubscribed, close_offer=closeOffer, click_hide_offer=clickHideOffer
  # TelemetryVPNDrawerEvents: tooltip_displayed=tooltip_displayed, tooltip_clicked=tooltip_clicked, tooltip_dismissed=tooltip_dismissed, drawer_displayed=drawer_displayed, download_clicked=download_clicked, status_changed=status_changed
  # ThemeFeatureSetting: 0=DEFAULT, 1=SCROLLBARS_OFF, 2=ANIMATIONS_OFF
  # ThemeFontFaceSetting: 0=DEFAULT, 1=SYSTEM, 2=ARIAL, 3=TIMES, 4=DYSLEXIC
  # ThemeFontSizeSetting: 0=DEFAULT, 1=X_SMALL, 2=SMALL, 3=LARGE, 4=X_LARGE
  # ThemeModeSetting: 0=Auto, 1=Dark, 2=Light
  # ThemeTypes: 0=Duotone, 1=Carbon, 2=Snow, 3=Monokai, 4=ContrastLight, 5=Legacy, 6=Classic, 7=ContrastDark, 8=PassDark, 9=Storefront, 10=WalletLight, 11=StorefrontWallet, 12=PassLight, 13=WalletDark, 14=LumoLight, 15=LumoDark
  # TOKEN_TYPES: email=EMAIL, sms=SMS, invite=INVITE, coupon=COUPON, captcha=CAPTCHA
  # TwoFactorStatusFlags: 1=Totp, 2=Fido2
  # UNPAID_STATE: 0=NOT_UNPAID, 1=AVAILABLE, 2=OVERDUE
  # UNREAD_FAVICON: 0=DISABLED, 1=ENABLED
  # UPSELL_COMPONENT: banner-=BANNER, modal-=MODAL, button-=BUTTON, toggle-=TOGGLE, tip-=TIP
  # USER_ROLES: 0=FREE_ROLE, 1=MEMBER_ROLE, 2=ADMIN_ROLE
  # USER_STATUS: 0=DELETED, 1=DISABLED, 2=USER, 3=VPN_ADMIN, 4=ADMIN, 5=SUPER_ADMIN
  # UserLockedFlags: 1=BASE_STORAGE_EXCEEDED, 2=DRIVE_STORAGE_EXCEEDED, 3=STORAGE_EXCEEDED, 4=ORG_ISSUE_FOR_PRIMARY_ADMIN, 8=ORG_ISSUE_FOR_MEMBER, 16=USER_WITH_A_DOMAIN
  # UserType: 1=PROTON, 2=MANAGED, 3=EXTERNAL
  # VcalDays: 0=SU, 1=MO, 2=TU, 3=WE, 4=TH, 5=FR, 6=SA
  # VCardGender: M=Male, F=Female, O=Other, N=None, U=Unknown, =Empty
  # VERIFY_STATE: 0=VERIFY_STATE_DEFAULT, 1=VERIFY_STATE_EXIST, 2=VERIFY_STATE_GOOD
  # VIDEO_CONFERENCE_PROVIDER: 1=ZOOM, 2=PROTON_MEET
  # VIEW_LAYOUT: 0=COLUMN, 1=ROW
  # VIEW_MODE: 0=GROUP, 1=SINGLE
  # VIEWS: 1=DAY, 2=WEEK, 3=MONTH, 4=YEAR, 5=AGENDA, 6=CUSTOM, 7=MAIL, 8=DRIVE, 9=SEARCH
  # VolumeRestoreStatus: 0=Done, 1=Progress, -1=Failed
  # VolumeState: 1=Active, 3=Locked
  # VolumeType: 1=Regular, 2=Photos
  # WEEKLY_TYPE: 0=ON_DAYS
  # YEARLY_TYPE: 0=BY_MONTH_ON_MONTH_DAY

tags:
  - name: Account
  - name: Ai
  - name: Auth
  - name: Calendar
  - name: Contacts
  - name: Core
  - name: Data
  - name: Domains
  - name: Drive
  - name: Keys
  - name: Logs
  - name: Lumo
  - name: Mail
  - name: Meet
  - name: Members
  - name: Metrics
  - name: Oauth
  - name: Partner
  - name: Pass
  - name: Permissions
  - name: Settings
  - name: Tests
  - name: Vpn

paths:
  /account/organization/events/auth:
    get:
      tags: [Account]
      summary: Get Org Auth Logs
      operationId: getOrgAuthLogs
      parameters:
        - name: query
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Get Org Auth Logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /account/organization/events/export/organization:
    get:
      tags: [Account]
      summary: Get Organization Logs Download
      operationId: getOrganizationLogsDownload
      responses:
        "200":
          description: Get Organization Logs Download
          content:
            text/plain:
              schema:
                type: string
  /account/organization/events/export/pass:
    get:
      tags: [Account]
      summary: Get Pass Logs Download
      operationId: getPassLogsDownload
      responses:
        "200":
          description: Get Pass Logs Download
          content:
            text/plain:
              schema:
                type: string
  /account/organization/events/export/vpn:
    get:
      tags: [Account]
      summary: Get V P N Log Download
      operationId: getVPNLogDownload
      responses:
        "200":
          description: Get V P N Log Download
          content:
            text/plain:
              schema:
                type: string
  /account/organization/events/organization:
    get:
      tags: [Account]
      summary: Get Organization Logs
      operationId: getOrganizationLogs
      responses:
        "200":
          description: Get Organization Logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /account/organization/events/organization/event-types:
    get:
      tags: [Account]
      summary: Get Organization Event Types
      operationId: getOrganizationEventTypes
      responses:
        "200":
          description: Get Organization Event Types
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /account/organization/events/pass:
    get:
      tags: [Account]
      summary: Get Pass Logs
      operationId: getPassLogs
      responses:
        "200":
          description: Get Pass Logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /account/organization/events/pass/event-types:
    get:
      tags: [Account]
      summary: Get Pass Event Types
      operationId: getPassEventTypes
      responses:
        "200":
          description: Get Pass Event Types
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /account/organization/events/vpn:
    get:
      tags: [Account]
      summary: Get V P N Logs
      operationId: getVPNLogs
      responses:
        "200":
          description: Get V P N Logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /account/organization/events/vpn/event-types:
    get:
      tags: [Account]
      summary: Get Vpn Event Types
      operationId: getVpnEventTypes
      responses:
        "200":
          description: Get Vpn Event Types
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /account/retention/v1/rule:
    post:
      tags: [Account]
      summary: Create Retention Rule Api
      operationId: createRetentionRuleApi
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Name:
                  type: string
                Products:
                  type: integer
                Lifetime:
                  type: string
                Action:
                  type: integer
                Scopes:
                  type: array
      responses:
        "200":
          description: Create Retention Rule Api
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
    get:
      tags: [Account]
      summary: Get Retention Rules
      operationId: getRetentionRules
      responses:
        "200":
          description: Get Retention Rules
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /account/retention/v1/rule/{id}:
    put:
      tags: [Account]
      summary: Update Retention Rule Api
      operationId: updateRetentionRuleApi
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Name:
                  type: string
                Products:
                  type: integer
                Lifetime:
                  type: string
                Action:
                  type: integer
                Scopes:
                  type: array
      responses:
        "200":
          description: Update Retention Rule Api
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
    delete:
      tags: [Account]
      summary: Delete Retention Rule Api
      operationId: deleteRetentionRuleApi
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Delete Retention Rule Api
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /account/v1/born-private:
    post:
      tags: [Account]
      summary: Born Private
      operationId: bornPrivate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ParentEmail:
                  type: string
                ActivationKey:
                  type: string
      responses:
        "200":
          description: Born Private
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /account/v1/born-private/recover:
    post:
      tags: [Account]
      summary: Born Private Recovery
      operationId: bornPrivateRecovery
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ParentEmail:
                  type: string
                ReservedEmail:
                  type: string
                ActivationKey:
                  type: string
      responses:
        "200":
          description: Born Private Recovery
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /account/v1/breaches/domains/{domainId}/breach-alerts:
    put:
      tags: [Account]
      summary: Enable Domain Breach Alert
      operationId: enableDomainBreachAlert
      parameters:
        - name: domainId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Enable Domain Breach Alert
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
    patch:
      tags: [Account]
      summary: Disable Domain Breach Alert
      operationId: disableDomainBreachAlert
      parameters:
        - name: domainId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Disable Domain Breach Alert
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /account/v1/breaches/email-notifications:
    patch:
      tags: [Account]
      summary: Update Breach Email Notifications State
      operationId: updateBreachEmailNotificationsState
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Update Breach Email Notifications State
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /account/v1/recovery/session:
    post:
      tags: [Account]
      summary: Initiate Session Recovery
      operationId: initiateSessionRecovery
      responses:
        "200":
          description: Initiate Session Recovery
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /account/v1/recovery/session/abort:
    post:
      tags: [Account]
      summary: Abort Session Recovery
      operationId: abortSessionRecovery
      responses:
        "200":
          description: Abort Session Recovery
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /account/v1/recovery/session/consume:
    post:
      tags: [Account]
      summary: Consume Session Recovery
      operationId: consumeSessionRecovery
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                UserKeys:
                  type: array
                KeySalt:
                  type: string
                OrganizationKey:
                  type: string
                  nullable: true
      responses:
        "200":
          description: Consume Session Recovery
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /account/v4/breaches:
    get:
      tags: [Account]
      summary: Get Breaches
      operationId: getBreaches
      parameters:
        - name: Recent
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Get Breaches
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /account/v4/breaches/state:
    put:
      tags: [Account]
      summary: Update Breach State
      operationId: updateBreachState
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ID:
                  type: string
                State:
                  type: integer
      responses:
        "200":
          description: Update Breach State
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /account/v4/breaches/unread/count:
    get:
      tags: [Account]
      summary: Get Unread Breaches Count
      operationId: getUnreadBreachesCount
      responses:
        "200":
          description: Get Unread Breaches Count
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /ai/v1/feedback:
    post:
      tags: [Ai]
      summary: Send Assistant Feedback
      operationId: sendAssistantFeedback
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Category:
                  type: string
                Sentiment:
                  type: string
                Environment:
                  type: string
                ModelID:
                  type: string
                  nullable: true
                Component:
                  type: string
                Body:
                  type: string
                Prompt:
                  type: string
                  nullable: true
                ModelOutput:
                  type: string
                  nullable: true
      responses:
        "200":
          description: Send Assistant Feedback
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /auth/v4/devices:
    post:
      tags: [Auth]
      summary: Add Auth Device Config
      operationId: addAuthDeviceConfig
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Name:
                  type: string
                ActivationToken:
                  type: string
                  nullable: true
      responses:
        "200":
          description: Add Auth Device Config
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
    get:
      tags: [Auth]
      summary: Get Auth Devices Config
      operationId: getAuthDevicesConfig
      responses:
        "200":
          description: Get Auth Devices Config
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
    delete:
      tags: [Auth]
      summary: Delete All Other Auth Device Config
      operationId: deleteAllOtherAuthDeviceConfig
      responses:
        "200":
          description: Delete All Other Auth Device Config
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /auth/v4/devices/{DeviceID}:
    post:
      tags: [Auth]
      summary: Activate Auth Device Config
      operationId: activateAuthDeviceConfig
      parameters:
        - name: DeviceID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                DeviceID:
                  type: string
                EncryptedSecret:
                  type: string
      responses:
        "200":
          description: Activate Auth Device Config
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /auth/v4/devices/{DeviceID}/associate:
    post:
      tags: [Auth]
      summary: Associate Auth Device Config
      operationId: associateAuthDeviceConfig
      parameters:
        - name: DeviceID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                DeviceID:
                  type: string
                DeviceToken:
                  type: string
      responses:
        "200":
          description: Associate Auth Device Config
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /auth/v4/devices/{deviceID}:
    delete:
      tags: [Auth]
      summary: Delete Auth Device Config
      operationId: deleteAuthDeviceConfig
      parameters:
        - name: deviceID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Delete Auth Device Config
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /auth/v4/devices/{deviceID}/admin:
    put:
      tags: [Auth]
      summary: Ask Admin Config
      operationId: askAdminConfig
      parameters:
        - name: deviceID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Ask Admin Config
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /auth/v4/devices/{deviceID}/reject:
    put:
      tags: [Auth]
      summary: Reject Auth Device Config
      operationId: rejectAuthDeviceConfig
      parameters:
        - name: deviceID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Reject Auth Device Config
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /auth/v4/mnemonic:
    post:
      tags: [Auth]
      summary: Auth Mnemonic
      operationId: authMnemonic
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                toString:
                  type: object
                charAt:
                  type: object
                charCodeAt:
                  type: object
                concat:
                  type: object
                indexOf:
                  type: object
                lastIndexOf:
                  type: object
                localeCompare:
                  type: object
                match:
                  type: object
                replace:
                  type: object
                search:
                  type: object
                slice:
                  type: object
                split:
                  type: object
                substring:
                  type: object
                toLowerCase:
                  type: object
                toLocaleLowerCase:
                  type: object
                toUpperCase:
                  type: object
                toLocaleUpperCase:
                  type: object
                trim:
                  type: object
                length:
                  type: integer
                substr:
                  type: object
                valueOf:
                  type: object
                codePointAt:
                  type: object
                includes:
                  type: object
                endsWith:
                  type: object
                normalize:
                  type: object
                repeat:
                  type: object
                startsWith:
                  type: object
                anchor:
                  type: object
                big:
                  type: object
                blink:
                  type: object
                bold:
                  type: object
                fixed:
                  type: object
                fontcolor:
                  type: object
                fontsize:
                  type: object
                italics:
                  type: object
                link:
                  type: object
                small:
                  type: object
                strike:
                  type: object
                sub:
                  type: object
                sup:
                  type: object
                padStart:
                  type: object
                padEnd:
                  type: object
                trimEnd:
                  type: object
                trimStart:
                  type: object
                trimLeft:
                  type: object
                trimRight:
                  type: object
                matchAll:
                  type: object
                replaceAll:
                  type: object
                at:
                  type: object
                isWellFormed:
                  type: object
                toWellFormed:
                  type: object
                __@iterator@260:
                  type: object
      responses:
        "200":
          description: Auth Mnemonic
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /auth/v4/mnemonic/info:
    post:
      tags: [Auth]
      summary: Get Mnemonic Auth Info
      operationId: getMnemonicAuthInfo
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Get Mnemonic Auth Info
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /auth/v4/mnemonic/reauth:
    post:
      tags: [Auth]
      summary: Reauth Mnemonic
      operationId: reauthMnemonic
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Username:
                  type: string
                PersistentCookies:
                  type: boolean
      responses:
        "200":
          description: Reauth Mnemonic
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /auth/v4/sessions:
    post:
      tags: [Auth]
      summary: Create Session
      operationId: createSession
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Create Session
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
    get:
      tags: [Auth]
      summary: Query Sessions
      operationId: querySessions
      responses:
        "200":
          description: Query Sessions
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
    delete:
      tags: [Auth]
      summary: Revoke Other Sessions
      operationId: revokeOtherSessions
      responses:
        "200":
          description: Revoke Other Sessions
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /auth/v4/sessions/forks:
    post:
      tags: [Auth]
      summary: Push Fork Session
      operationId: pushForkSession
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Payload:
                  type: string
                  nullable: true
                ChildClientID:
                  type: string
                Independent:
                  type: integer
                Selector:
                  type: string
                  nullable: true
                UserCode:
                  type: string
                  nullable: true
      responses:
        "200":
          description: Push Fork Session
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
    get:
      tags: [Auth]
      summary: Get Forks
      operationId: getForks
      responses:
        "200":
          description: Get Forks
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /auth/v4/sessions/forks/{selector}:
    get:
      tags: [Auth]
      summary: Pull Fork Session
      operationId: pullForkSession
      parameters:
        - name: selector
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Pull Fork Session
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /auth/v4/sessions/local:
    get:
      tags: [Auth]
      summary: Get Local Sessions
      operationId: getLocalSessions
      responses:
        "200":
          description: Get Local Sessions
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /auth/v4/sessions/local/key:
    get:
      tags: [Auth]
      summary: Get Local Key
      operationId: getLocalKey
      responses:
        "200":
          description: Get Local Key
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
    put:
      tags: [Auth]
      summary: Set Local Key
      operationId: setLocalKey
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                toString:
                  type: object
                charAt:
                  type: object
                charCodeAt:
                  type: object
                concat:
                  type: object
                indexOf:
                  type: object
                lastIndexOf:
                  type: object
                localeCompare:
                  type: object
                match:
                  type: object
                replace:
                  type: object
                search:
                  type: object
                slice:
                  type: object
                split:
                  type: object
                substring:
                  type: object
                toLowerCase:
                  type: object
                toLocaleLowerCase:
                  type: object
                toUpperCase:
                  type: object
                toLocaleUpperCase:
                  type: object
                trim:
                  type: object
                length:
                  type: integer
                substr:
                  type: object
                valueOf:
                  type: object
                codePointAt:
                  type: object
                includes:
                  type: object
                endsWith:
                  type: object
                normalize:
                  type: object
                repeat:
                  type: object
                startsWith:
                  type: object
                anchor:
                  type: object
                big:
                  type: object
                blink:
                  type: object
                bold:
                  type: object
                fixed:
                  type: object
                fontcolor:
                  type: object
                fontsize:
                  type: object
                italics:
                  type: object
                link:
                  type: object
                small:
                  type: object
                strike:
                  type: object
                sub:
                  type: object
                sup:
                  type: object
                padStart:
                  type: object
                padEnd:
                  type: object
                trimEnd:
                  type: object
                trimStart:
                  type: object
                trimLeft:
                  type: object
                trimRight:
                  type: object
                matchAll:
                  type: object
                replaceAll:
                  type: object
                at:
                  type: object
                isWellFormed:
                  type: object
                toWellFormed:
                  type: object
                __@iterator@260:
                  type: object
      responses:
        "200":
          description: Set Local Key
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /auth/v4/sessions/payload:
    post:
      tags: [Auth]
      summary: Payload
      operationId: payload
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /auth/v4/sessions/{UID}:
    delete:
      tags: [Auth]
      summary: Revoke Session
      operationId: revokeSession
      parameters:
        - name: UID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Revoke Session
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /calendar/v1:
    get:
      tags: [Calendar]
      summary: Query Calendars
      operationId: queryCalendars
      parameters:
        - name: OrderBy
          in: query
          schema:
            type: string
        - name: ReturnFlags
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Query Calendars
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
    post:
      tags: [Calendar]
      summary: Create Calendar
      operationId: createCalendar
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                IsImport:
                  type: string
                  nullable: true
                AddressID:
                  type: string
                Name:
                  type: string
                Description:
                  type: string
                Color:
                  type: string
                Display:
                  type: integer
                URL:
                  type: string
                  nullable: true
      responses:
        "200":
          description: Create Calendar
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /calendar/v1/booking:
    get:
      tags: [Calendar]
      summary: Get User Booking Page
      operationId: getUserBookingPage
      responses:
        "200":
          description: Get User Booking Page
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
    post:
      tags: [Calendar]
      summary: Create Booking Page
      operationId: createBookingPage
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                CalendarID:
                  type: string
                BookingUID:
                  type: string
                BookingKeySalt:
                  type: string
                EncryptedSecret:
                  type: string
                EncryptedContent:
                  type: string
                CalendarKeySignature:
                  type: string
                Slots:
                  type: array
                MinimumNoticeMode:
                  type: string
                ConflictCalendarIDs:
                  type: array
      responses:
        "200":
          description: Create Booking Page
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /calendar/v1/booking/external/{bookingUID}:
    get:
      tags: [Calendar]
      summary: Query Public Booking Page
      operationId: queryPublicBookingPage
      parameters:
        - name: bookingUID
          in: path
          required: true
          schema:
            type: string
        - name: Start
          in: query
          schema:
            type: string
        - name: End
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Query Public Booking Page
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /calendar/v1/booking/external/{bookingUID}/next-slot:
    get:
      tags: [Calendar]
      summary: Get Next Available Slot
      operationId: getNextAvailableSlot
      parameters:
        - name: bookingUID
          in: path
          required: true
          schema:
            type: string
        - name: StartTime
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Get Next Available Slot
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /calendar/v1/booking/external/{bookingUID}/slots/{slotId}/confirm:
    post:
      tags: [Calendar]
      summary: Confirm Booking Slot
      operationId: confirmBookingSlot
      parameters:
        - name: bookingUID
          in: path
          required: true
          schema:
            type: string
        - name: slotId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ContentPart:
                  type: string
                TimePart:
                  type: string
                AttendeeData:
                  type: string
                AttendeeToken:
                  type: string
                AttendeeSharedKeyPacket:
                  type: string
                  nullable: true
                SharedKeyPacket:
                  type: string
                EmailData:
                  type: object
                MeetingLinkName:
                  type: string
      responses:
        "200":
          description: Confirm Booking Slot
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /calendar/v1/booking/{bookingUID}:
    put:
      tags: [Calendar]
      summary: Update Booking Page
      operationId: updateBookingPage
      parameters:
        - name: bookingUID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                EncryptedContent:
                  type: string
                EncryptedSecret:
                  type: string
                CalendarKeySignature:
                  type: string
                Slots:
                  type: array
                MinimumNoticeMode:
                  type: string
                ConflictCalendarIDs:
                  type: array
      responses:
        "200":
          description: Update Booking Page
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
    get:
      tags: [Calendar]
      summary: Get Booking Page Details
      operationId: getBookingPageDetails
      parameters:
        - name: bookingUID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Get Booking Page Details
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
    delete:
      tags: [Calendar]
      summary: Delete Booking Page
      operationId: deleteBookingPage
      parameters:
        - name: bookingUID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Delete Booking Page
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /calendar/v1/directory:
    get:
      tags: [Calendar]
      summary: Get Directory Calendars
      operationId: getDirectoryCalendars
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Get Directory Calendars
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /calendar/v1/events:
    get:
      tags: [Calendar]
      summary: Get Event By U I D
      operationId: getEventByUID
      responses:
        "200":
          description: Get Event By U I D
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /calendar/v1/events/{uid}/accept:
    put:
      tags: [Calendar]
      summary: Accept Invite
      operationId: acceptInvite
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Signature:
                  type: string
      responses:
        "200":
          description: Accept Invite
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /calendar/v1/invitations:
    get:
      tags: [Calendar]
      summary: Get All Invitations
      operationId: getAllInvitations
      responses:
        "200":
          description: Get All Invitations
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /calendar/v1/keys/reset:
    get:
      tags: [Calendar]
      summary: Get Calendar Group Reset
      operationId: getCalendarGroupReset
      responses:
        "200":
          description: Get Calendar Group Reset
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
    post:
      tags: [Calendar]
      summary: Reset Calendars
      operationId: resetCalendars
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                CalendarKeys:
                  type: object
      responses:
        "200":
          description: Reset Calendars
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /calendar/v1/subscription/validate:
    post:
      tags: [Calendar]
      summary: Validate Subscription
      operationId: validateSubscription
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Validate Subscription
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /calendar/v1/timezones:
    get:
      tags: [Calendar]
      summary: Get Allowed Time Zones
      operationId: getAllowedTimeZones
      responses:
        "200":
          description: Get Allowed Time Zones
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /calendar/v1/videoconferences:
    post:
      tags: [Calendar]
      summary: Create Zoom Meeting
      operationId: createZoomMeeting
      description: Only Zoom is supported for the moment
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Create Zoom Meeting
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /calendar/v1/vtimezones:
    get:
      tags: [Calendar]
      summary: Get Vtimezones
      operationId: getVtimezones
      parameters:
        - name: tzid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Get Vtimezones
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /calendar/v1/{calendarID}:
    get:
      tags: [Calendar]
      summary: Get Calendar
      operationId: getCalendar
      parameters:
        - name: calendarID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Get Calendar
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
    delete:
      tags: [Calendar]
      summary: Remove Calendar
      operationId: removeCalendar
      parameters:
        - name: calendarID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Remove Calendar
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /calendar/v1/{calendarID}/alarms:
    get:
      tags: [Calendar]
      summary: Query Calendar Alarms
      operationId: queryCalendarAlarms
      parameters:
        - name: calendarID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Query Calendar Alarms
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /calendar/v1/{calendarID}/alarms/{alarmID}:
    get:
      tags: [Calendar]
      summary: Get Calendar Alarm
      operationId: getCalendarAlarm
      parameters:
        - name: calendarID
          in: path
          required: true
          schema:
            type: string
        - name: alarmID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Get Calendar Alarm
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /calendar/v1/{calendarID}/events:
    get:
      tags: [Calendar]
      summary: Query Events
      operationId: queryEvents
      parameters:
        - name: calendarID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Query Events
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /calendar/v1/{calendarID}/events/count:
    get:
      tags: [Calendar]
      summary: Get Events Count
      operationId: getEventsCount
      parameters:
        - name: calendarID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Get Events Count
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /calendar/v1/{calendarID}/events/ids:
    get:
      tags: [Calendar]
      summary: Query Events I Ds
      operationId: queryEventsIDs
      parameters:
        - name: calendarID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Query Events I Ds
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /calendar/v1/{calendarID}/events/sync:
    put:
      tags: [Calendar]
      summary: Sync Multiple Events
      operationId: syncMultipleEvents
      parameters:
        - name: calendarID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                MemberID:
                  type: string
                IsImport:
                  type: string
                  nullable: true
                Events:
                  type: array
      responses:
        "200":
          description: Sync Multiple Events
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
  /calendar/v1/{calendarID}/events/{eventID}:
    get:
      tags: [Calendar]
      summary: Get Event
      operationId: getEvent
      parameters:
        - name: calendarID
          in: path
          required: true
          schema:
            type: string
        - name: eventID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Get Event
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: integer
    delete:
      tags: [Calendar]
      summary: Delete Event
      operationId: deleteEvent
      parameters:
        - name: calendarID
          in: path
          required: true
          schema:
            type: string
        - name: eventID
          in: path
          required: true
[...]
